<!---{{ name }}
<button (click)="f('twin9')">test</button>
<input value="name"><br>
<input [value]="name"><br>
<input [(ngModel)]="name"><br>--->
<input [(ngModel)]="titre">
<input type="text" [(ngModel)]="color">
<div class="container">
  <div class="row">
    <div *ngFor="let x of categories | contains:titre" class="col-md-4" style="margin-bottom: 20px;">
     <app-card [color]="color" [data]="x" (notified)="getNotif($event)"></app-card>
      <!--- <ng-container *ngIf="x.title.toLowerCase().includes(titre.toLowerCase())">-->

    <!---</ng-container> --->

  </div>
  </div>
</div>


<router-outlet></router-outlet>
